* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
    text-decoration: none;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    margin: 1rem auto;
    background-color: #FDF8E6;
}

.container {    /* Strategy to center all the elements. */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 30rem;

    padding: 2rem;  
    border: 1px solid black;  
    border-radius: 3rem;
    box-shadow: 2px 2px 5px black;
    
    position: relative;
}

.container::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url(https://cdn.pixabay.com/photo/2017/08/11/09/17/porto-2630096_640.jpg);
    background-size: cover;
    z-index: -1;
    border-radius: 3rem;
    opacity: 40%;
}

/* header */

.header {
    margin-bottom: 4rem;
}

.title {
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    text-align: center;
    text-shadow: 2px 2px 3px black;
    color:  #FDF8E6;
}

.titleSequence {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    text-align: center;
    text-shadow: 2px 2px 3px #FDF8E6;
    margin-bottom: 2rem;
    color:  #37586C;
}

.source {
    font-size: 1.5rem;
    text-align: center;
}

.source-a {
    color: black;
    font-weight: bold;
}

/* main */

.main {
    margin-bottom: 4rem;
}

.date {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 3px white;
    margin-bottom: 4rem;
    color: #CE8026;
}

.subtitle {
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.wrapInputBtnSearch {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 4rem;
}

.input {
    padding: 1rem;
    border-radius: 1rem;
    background-color: #FDF8E6;
    color: black;
    width: 20rem;
    font-size: 1.6rem;
}

.buttonSearch {
    padding: 1rem;
    border-radius: 1rem;
    background-color: #FDF8E6;
    color: #CE8026;
    width: 5rem;
    cursor: pointer;
    font-size: 1.6rem;
}

.headline {
    font-size: 2.5rem;
    font-family: 'Pacifico', cursive;
    text-align: center;
    margin-bottom: 0.5rem;
}

.wrapWeathers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 67rem;
    margin-bottom: 1rem;
}

.weather {
    background-color: #37586C;
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.time {
    font-size: 0.65rem;
    padding: 0.5rem;
}

.average {
    background-color: #37586C;
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: fit-content;
    display: block;
    margin: 0 auto 2rem;    /* top | left and right | bottom */
}

.wrapOtherInformation {
    width: 28rem;
    line-height: 2rem;
    margin: 0 auto 2rem;
}

.fa-wind, .fa-circle-info {
    margin-right: 0.5rem;
    color: #37586C;
}

.fa-droplet {
    margin-right: 0.9rem;
    color: #37586C;
}

.windSpeed, .humidity, .weatherParameter, .weatherDescription {
    font-size: 1.5rem;
}

.windSpeed span, .humidity span, .weatherParameter span, .weatherDescription span {
    color: #37586C;
    font-weight: bold;
}

.buttonUpdate {
    padding: 1rem;
    border-radius: 1rem;
    background-color: #FDF8E6;
    color: #CE8026;
    font-size: 1.6rem;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

/* footer */

.footerNameJob {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
}

.footerNameJob a {
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
}

.footerNameJob a:hover {
    color: #37586C;
    transition: all .3s;
}